{% extends "common.html" %}

{% block title %}{{event.meta.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
{% endblock %}

{% block script %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
{% endblock %}

{% block body_class %}eventpage{% endblock %}

{% block content %}
<div class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"><img src="{{url_for('static', filename='img/gamecraft-logo-150x150.png')}}"></div>
      <div class="col-md-10">
        <h1>{{event.meta.title}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="event">
  <div class="container-fluid">
    <section>
      <h1>WHEN?</h1>

      <h2>{{event.meta.when}}</h2>
    </section>
  </div>

  <hr/>
  <div class="container-fluid">
  	<section>
      <h1>WHERE?</h1>
      <address>{{event.meta.where}}</address>
    </section>
  </div>
  <div id="map"></div>

  <hr/>
  <div class="container-fluid">
    <section>
      <h1>WHAT?</h1>
      <p>{{ event.html | safe }}</p>
    </section>
  </div>
</div>


{% endblock %}

{% block extrajs %}
<script>
        var map = L.map('map').setView([{{event.meta.longitude}}, {{event.meta.latitude}}], 16);
        
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

        // add a marker in the given location, attach some popup content to it and open the popup
L.marker([{{event.meta.longitude}}, {{event.meta.latitude}}]).addTo(map)
    .bindPopup('{{event.where}}')
    .openPopup();
</script>
{% endblock %}
