{% extends "base.html" %}
{% block title %}GameCraft{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/gamecraft.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/holder.js') }}"></script>
{% endblock %}

{% block body_class %}frontpage{% endblock %}

{% block content %}

<header class="navbar navbar-inverse navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">GameCraft</a>
    </div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('events') }}">Events</a></li>
        <li><a href="{{ url_for('events') }}">Register</a></li>
    </nav>
  </div>
</header>

<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><img class="img-responsive" src="{{ url_for('static', filename='img/gamecraft-logo-466x479.png')}}"></div>
      <div class="col-md-8">
        <h1>Global GameCraft</h1>
        <h2>Connect, Create, Collaborate</h2>


      </div>
    </div>

    <div class="container">
      <div class="center-block">
        <h1>Event!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec lectus faucibus elit tempus consequat. Fusce mi nulla, vestibulum eu tellus non, feugiat bibendum urna. Morbi vehicula lorem lectus, et scelerisque tortor ullamcorper sit amet. Quisque imperdiet quam velit, eu lacinia est condimentum in. Vestibulum imperdiet consequat justo, ut tempus mi accumsan in. Ut accumsan dui quis mauris porta, ut faucibus nisl ultricies. Sed consequat nunc libero. Fusce ultrices velit et augue hendrerit egestas. Vivamus dolor purus, lobortis non tincidunt quis, luctus ut tellus. Sed sit amet mollis lacus. Phasellus fringilla sit amet eros a placerat. Fusce libero arcu, dignissim a arcu at, mattis semper sem. Proin ornare est sit amet nisi eleifend elementum. Integer eu diam a mi pharetra pretium. Quisque adipiscing, metus at blandit gravida, sapien risus pharetra tortor, et iaculis sapien enim eget risus.</p>

        <p>Ut neque turpis, aliquam a sodales id, porttitor a dui. Suspendisse eu lorem sit amet odio pulvinar sodales quis eu ligula. Sed euismod massa a lorem volutpat, eget dignissim arcu mattis. Fusce ac fringilla lorem. Sed pulvinar mi ut facilisis sollicitudin. Curabitur mollis molestie iaculis. Nullam posuere elit nec tortor pharetra suscipit. Nulla lectus diam, rhoncus in tellus vitae, tincidunt mattis lectus.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Register!</a></p>
      </div>
    </div>
  </div>
</section>

<section class="sponsors">
  <div class="container">
    <div class="row">
      {% for i in range(9) %}
      <div class="sponsor col-sm-6 col-md-4">
        <div class="text-center">
          <img src="holder.js/200x200" class="img-responsive img-thumbnail">
        </div>
        <h3 class="text-center">Company A</h3>
        <p>Company A is awesome and sponsors us</p>
        <p>Ut neque turpis, aliquam a sodales id, porttitor a dui. Suspendisse eu lorem sit amet odio pulvinar sodales quis eu ligula. Sed euismod massa a lorem volutpat, eget dignissim arcu mattis. Fusce ac fringilla lorem. Sed pulvinar mi ut facilisis sollicitudin. Curabitur mollis molestie iaculis. Nullam posuere elit nec tortor pharetra suscipit. Nulla lectus diam, rhoncus in tellus vitae, tincidunt mattis lectus.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <h1>About us</h1>
    <p>A picture of an event</p>
  </div>
</section>

<div class="container">
  <footer>
    <p>(c) Copyright 2014 GameCraft</p>
  </footer>
</div>

{% endblock %}
