{% extends "common.html" %}

{% block title %}{{pr.meta.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
{% endblock %}

{% block script %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
{% endblock %}

{% block body_class %}prpage{% endblock %}

{% block content %}
<div class="banner">
  <div class="container">
    <h1>{{pr.meta.title}}</h1>
  </div>
</div>
<div class="event">
  <div class="container">
    <div>
      {{ pr.html | safe }}
    </div>
  </div>
</div>
{% endblock %}
