.frontpage .navbar {
    margin-bottom: 0;
}

/* Using http://www.colourlovers.com/palette/1473/Ocean_Five */

.frontpage section {
    box-shadow: inset 0 0 50px rgba(0,0,0,.2);
}

.frontpage section, .frontpage footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.frontpage .banner {
    color: #eee;
    background-color: #00A0B0;
}

.frontpage .sponsors {
    color: #444;
    background-color: #EDC951;
}

.frontpage .sponsors .sponsor {
    padding-bottom: 40px;
}

.frontpage .about, .frontpage .about .thumbnail {
    color: #444;
    background-color: #EB6841;
    border: none;
}

.frontpage .about subsection {
    margin-bottom: 40px;
}